@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
}

:root {
  --main-color: black;
  --text-color: rgb(233, 230, 230);
  --secondary: crimson;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

header {
  padding: 10px 5%;
}
header .navbar .navbar-brand img {
  width: 200px;
  margin-top: 5px;
}

.nav-item .nav-link {
  color: black;
  font-weight: 700;
  transition: all 0.5s ease;
}

.nav-item .nav-link:hover {
  color: var(--secondary);
}

#navbar input:focus {
  border: 1px solid var(--secondary);
  box-shadow: none;
}

.home {
  display: flex;
  padding: 10px 5%;
}

.home .img {
  flex: 1 1 250px;
}

.home .home-content {
  flex: 1 1 500px;
}

.home .img img {
  width: 100%;
}

.home-content h3 {
  font-size: 40px;
  font-weight: 700;
}

.home-content p {
  font-size: 18px;
  font-weight: 500;
}

.top-section {
  padding: 10px 11% 100px;
}

.top-section .row .card img {
  width: 200px;
}

.menu {
  padding: 10px 5%;
}

.menu .card img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
